.productBox {
  width: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(39, 39, 39);
  background-color: rgb(236, 236, 236);
  border-radius: 4px;

  img {
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 200px;
  }

  button {
    padding: 20px 15px;
    background-color: rgb(255, 101, 101);
    border-radius: 5px;
  }

  .bottom {
    padding: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      font-size: medium;
    }

    strong {
      margin-top: 10px;
    }

    p {
      font-size: medium;
    }

    a {
      padding: 15px 10px;
      background-color: white;
      border-radius: 5px;
      color: rgb(0, 0, 0);
    }
  }
}
